.cardSleep {
  background: rgb(91, 101, 105);
  background: linear-gradient(
    120deg,
    rgba(91, 101, 105, 1) 20%,
    rgba(207, 206, 223, 1) 91%
  );
  padding: 5px;
  min-width: 200px;
  min-height: 200px;
  max-width: 250px;
  max-height: 220px;
  border-radius: 5px;
  background-size: 200%;
  animation: fondo-anim 2s infinite alternate;
}

@keyframes fondo-anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
