.card-app {
  background-color: white;
  padding: 5px;
  min-width: 200px;
  min-height: 200px;
  max-width: 250px;
  max-height: 220px;
  border-radius: 5px;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: rgb(45, 151, 189);
}
.card-container {
  display: flex;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 12px;
}

.card-text {
  text-align: left;
}
.card-text span {
  font-weight: bold;
}
.card-title {
  font-size: 18px;
  font-weight: 900;
  padding: 5px;
}
.card-subtitle {
  font-size: 16px;
  font-weight: 900;
  padding: 5px;
}
.card-container h1,
h2,
h3,
h4 {
  margin: 0;
}
.card-p {
  font-size: 14px;
  margin: 0;
  padding: 3px;
}
.card-image {
  width: 100px;
  display: flex;
  justify-content: center;
}
.card-image img {
  width: 100%;
  height: 85px;
  max-width: 80%;
  border-radius: 50%;
}
.card-actions {
  display: flex;
  flex-direction: row-reverse;
  /* background-color: aqua; */
}
.card-actions a {
  width: 90px;
  padding: 6px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: rgb(132, 201, 226);
  border-radius: 5px;
}
.card-actions a:hover {
  background-color: rgb(67, 159, 192);
}
.card-p a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}