.header-app {
  /* min-width: 680px; */
  display: flex;
  background-color: rgb(21, 181, 199);
  justify-content: space-around;
}
.header-title {
  font-size: 1.6rem;
  padding: 10px;
  background-image: url("../icons/icon-github.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40px;
  padding-left: 44px;
}
.container-search {
  display: inherit;
  align-items: center;
  min-width: 240px;
}
.header-input-search {
  width: 50%;
  min-width: 140px;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
  background-image: url("../icons/active-search-64x64.png");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  background-size: 25px;
  padding-left: 30px;
}
.header-input-search:focus,
.header-search-type:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(73, 73, 73, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.header-search-type {
  width: 50%;
  min-width: 140px;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 0.4em 1.9em 0.3em 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
  border-radius: 0.3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  outline: none;
}
.header-search-type option {
  font-weight: normal;
}

.btn-clear{
  outline: none;
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family:"Verdana", sans-serif;
  font-weight: bold;
  background-color: rgb(132, 201, 226);
  border-radius: 5px;
  margin-top: 8px;
}

.btn-clear:hover {
  background-color: rgb(67, 159, 192);
}